@*@model List<Model.EntityFramework.User>*@
@*Paged List*@
@model PagedList<Model.EntityFramework.User>

@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách người dùng
}

@section script{
    <script>
        var user = {
            init: function () {
                user.registerEvents();
            },
            registerEvents: function () {
                $('.btn-active').off('click').on("click", function (e) {
                    e.preventDefault();

                    var btn = $(this);
                    var id = $(this).data("id");

                    $.ajax({
                        url: "/admin/user/changestatus",
                        data: { id: id },
                        type: "post",
                        dataType: "json",
                        success: function (res) {
                            if (res.status) {
                                btn.text("Kích hoạt")
                            } else {
                                btn.text("Khoá")
                            }
                        }
                    });
                });
            }
        };
        user.init();
    </script>
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row justify-content-between  align-items-baseline">
                <h4 class="header-title mb-3">Manage Tickets</h4>
                <a href="/admin/user/create" class="btn btn-success waves-effect waves-light float-right">Thêm mới</a>
            </div>
            <br />

            <div class="row mb-3">
                <div class="col-md-12">
                    @using (Html.BeginForm("Index", "User", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <div class="form-group mr-2">
                            <label class="sr-only">Từ khoá</label>
                            <input type="text" class="form-control" placeholder="Tìm kiếm" value="@ViewBag.SearchString" name="searchString" />
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light btn-md">Tìm kiếm</button>

                    }
                </div>
            </div>

            <table class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="datatable">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().UserName)</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>@item.ID</td>
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>
                                <a href="#" class="btn-active" data-id="@item.ID">
                                    @(item.Status ? "Kích hoạt" : "Khoá")
                                </a>
                            </td>
                            <td>
                                <a href="/Admin/User/Edit/@item.ID">Cập nhật</a>

                                <a class="text-danger" data-ajax="true"
                                   data-ajax-complete="$('#row_@item.ID').remove()"
                                   data-ajax-confirm="Bạn có muốn xoá bản ghi này?"
                                   data-ajax-method="Delete"
                                   href="/Admin/User/Delete/@item.ID">
                                    Xoá
                                    @*<i class="fa fa-times"></i>*@
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page , @searchString = @ViewBag.SearchString}), new PagedListRenderOptions
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link" },

       })
        </div>
    </div><!-- end col -->
</div>