@model PagedList<Model.EntityFramework.Content>

@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    /**/

    ViewBag.Title = "Dạnh sách Content";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Danh sách Content
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row justify-content-between  align-items-baseline">
                <h4 class="header-title mb-3">Quản lý Content</h4>
                <a href="/admin/content/create" class="btn btn-success waves-effect waves-light float-right">Thêm mới</a>
            </div>
            <br />

            <div class="row mb-3">
                <div class="col-md-12">
                    @using (Html.BeginForm("Index", "", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <div class="form-group mr-2">
                            <label class="sr-only">Từ khoá</label>
                            <input type="text" class="form-control" placeholder="Tìm kiếm" value="@ViewBag.SearchString" name="searchString" />
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect waves-light btn-md">Tìm kiếm</button>

                    }
                </div>
            </div>

            <table class="table table-hover m-0 tickets-list table-actions-bar dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="datatable">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Category)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().ModifiedDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
                    </th>

                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>

                        <td>
                            <img class="rounded img-fluid width-sm" style="max-width:150px" src="@Html.DisplayFor(modelItem => item.Image)" alt="Lỗi tải ảnh" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>

                        <td>
                            <a href="/Admin/Content/Edit/@item.ID">Cập nhật</a>

                            |
                            <a class="text-danger"
                               data-ajax="true"
                               data-ajax-complete="$('#row_@item.ID').remove()"
                               data-ajax-confirm="Bạn có muốn xoá bản ghi này?"
                               data-ajax-method="Delete"
                               href="/Admin/Content/Delete/@item.ID">
                                Xoá
                                @*<i class="fa fa-times"></i>*@
                            </a>
                        </td>
                    </tr>
                }
            </table>

            @Html.PagedListPager(Model, page => Url.Action("Index", new { page , @searchString = @ViewBag.SearchString}), new PagedListRenderOptions
                  {
                      LiElementClasses = new string[] { "page-item" },
                      PageClasses = new string[] { "page-link" },

                  })
        </div>
    </div><!-- end col -->
</div>