@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  List<Model.EntityFramework.Content>

<div class="content">
    <div class="content_top">
        <div class="heading">
            @*Tên danh mục*@
            <h3>Tag: @ViewBag.Tag.Name</h3>
        </div>
        <div class="see">
            <p><a href="#">Xem tất cả</a></p>
        </div>
        <div class="clear"></div>
    </div>

    @foreach (var item in Model)
    {
        <div class="image group">
            <div class="grid images_3_of_1">
                <img src="@item.Image" alt="" />
            </div>
            <div class="grid news_desc">
                <a href="/tin-tuc/@item.MetaTitle-@item.ID">
                    <h3>@item.Name </h3>
                </a>
                <h4>Posted on @item.ModifiedDate by <span><a href="#">@item.ModifiedBy</a></span></h4>
                <p>
                    @item.Description
                </p>
                <p>
                    @if (item.Detail.Length < 40)
                    {
                        @Html.Raw(item.Detail)
                    }
                    else
                    {
                        @Html.Raw(item.Detail.Substring(0, 40))

                    }
                    <a href="/tin-tuc/@item.MetaTitle-@item.ID" title="more">Chi tiết</a>
                </p>
            </div>
        </div>
    }

    @*Phân trang*@

    @if (ViewBag.TotalPage > 0)
    {
        var pageDisplay = (int)ViewBag.MaxPage;
        int totalPage = (int)ViewBag.TotalPage;
        int currentPage = (int)ViewBag.PageIndex;

        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

        var link = "/tag/" + ViewBag.Tag.ID;
        <nav>
            <ul class="pagination">
                @if (currentPage > ViewBag.First)
                {
                    <li>
                        <a href="@link?pageIndex=@ViewBag.First" title="Trang đầu" class="first">
                            <<
                        </a>
                    </li>
                    <li>
                        <a href="@link?pageIndex=@ViewBag.Prev" title="Trang trước" class="first">
                            <
                        </a>
                    </li>
                }
                @for (int i = startPageIndex; i <= endPageIndex; i++)
                {
                    if (currentPage == i)
                    {
                        <li><a href="@link?pageIndex=@i" class="active" title="Trang @i">@i</a></li>
                    }
                    else
                    {
                        <li><a href="@link?pageIndex=@i" title="Trang @i" class="pos">@i</a></li>

                    }
                }
                @if (currentPage < totalPage)
                {
                    <li><a href="@link?pageIndex=@ViewBag.Next" class="next" title="Trang sau"> > </a></li>
                    <li><a href="@link?pageIndex=@ViewBag.Last" class="last" title="Trang cuối"> >> </a></li>
                }
            </ul>
        </nav>
    }
    else
    {
        <span>Không có bản ghi nào</span>
    }
</div>