@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Model.EntityFramework.ProductCategory)ViewBag.Category;

}
@model List<Model.EntityFramework.Product>

<div class="content">
    <div class="content_top">
        <div class="heading">
            @*Tên danh mục*@
            <h3>@category.Name</h3>
        </div>
        <div class="see">
            <p><a href="#">Xem tất cả</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in Model)
        {
            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="@item.Name" /></a>
                <h2>@item.Description </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/them-gio-hang?id=@item.ID&quantity=1">Thêm vào giỏ hàng</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
        <div class="clear"></div>

        @*Phân trang*@
        @if (ViewBag.TotalPage > 0)
        {
            var pageDisplay = (int)ViewBag.MaxPage;
            int totalPage = (int)ViewBag.TotalPage;
            int currentPage = (int)ViewBag.PageIndex;

            var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
            var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

            var link = "/san-pham/" + category.MetaTitle + "-" + category.ID;
            <nav>
                <ul class="pagination">
                    @if (currentPage > ViewBag.First)
                    {
                        <li>
                            <a href="@link?pageIndex=@ViewBag.First" title="Trang đầu" class="first">
                                <<
                            </a>
                        </li>
                        <li>
                            <a href="@link?pageIndex=@ViewBag.Prev" title="Trang trước" class="first">
                                <
                            </a>
                        </li>
                    }
                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (currentPage == i)
                        {
                            <li><a href="@link?pageIndex=@i" class="active" title="Trang @i">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@link?pageIndex=@i" title="Trang @i" class="pos">@i</a></li>

                        }
                    }
                    @if (currentPage < totalPage)
                    {
                        <li><a href="@link?pageIndex=@ViewBag.Next" class="next" title="Trang sau"> > </a></li>
                        <li><a href="@link?pageIndex=@ViewBag.Last" class="last" title="Trang cuối"> >> </a></li>
                    }
                </ul>
            </nav>
        }
        else
        {
            <span>Không có bản ghi nào</span>
        }
    </div>
</div>